<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.duansanniu.mapper.LeaderMapper">
    <insert id="preserveCommonFileInfo" parameterType="map">
        insert into t_commonFile(name,url,createTime) values(#{name},#{url},#{createTime})
    </insert>

    <select id="isPreserve" parameterType="map" resultType="Integer">
        select ifnull(count(*),0) from t_commonFile
          where name = #{name} and url = #{url}
    </select>

    <update id="updateCommonFileInfo" parameterType="map" >
        update t_commonFile set createTime = #{createTime}
          where name = #{name} and url=#{url}

    </update>


    <select id="getTeachersByDepartId" parameterType="Integer" resultType="cn.duansanniu.entity.Teacher">
        select  username,name,sex,professionRank,degree from t_teacher where departId = #{id}
    </select>

    <insert id="importSubject" parameterType="map" >
        insert into t_teacher_subject(username,title,detail,type) values(
          #{username},#{title},#{detail},#{type}
        )
    </insert>

    <update id="updateSubject" parameterType="map">
        update t_teacher_subject
        <set>
            <if test="username!= null and username != ''">
                 username = #{username},
            </if>
            <if test="title!= null and username!= ''">
                 title = #{title},
            </if>
            <if test="detail!= null and detail!= ''">
                 detail = #{detail},
            </if>
            <if test="type!= null and type != ''">
                type = #{type}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteSubject" parameterType="Integer">
        delete from t_teacher_subject where id = #{id}
    </delete>

    <select id="getDepartIdBySubjectId" parameterType="Integer" resultType="Integer">
        select departId from t_teacher tt
          left join t_teacher_subject tts on tts.username = tt.username
          where tts.id = #{id}
    </select>

    <select id="isEffectiveTask" parameterType="map" resultType="Integer">
        select ifnull(count(*),0) from t_task where departId = #{departId}
          and unix_timestamp(endTime) &gt; unix_timestamp(#{time})
          and unix_timestamp(startTime) &lt; unix_timestamp(#{time})
    </select>

    <insert id="createTask" parameterType="map" >
        insert  into t_task(name,departId,year,startTime,endTime) values (#{name},#{departId},#{year},#{startTime},#{endTime})
    </insert>
</mapper>