<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.duansanniu.mapper.StudentMapper">
    
    <resultMap id="Subjects" type="cn.duansanniu.entity.Subjects">
        <id property="id" column="subject_id"></id>
        <result property="title" column="title"/>
        <result property="detail" column="detail" />
        <association property="teacher" >
            <id property="id" column="teacher_id"/>
            <result property="username" column="teacher_username"/>
            <result property="name" column="teacher_name" />
            <result property="sex" column="teacher_sex"/>
            <result property="professionRank" column="teacher_professionRank"/>
            <result property="degree" column="teacher_degree"/>
        </association>
        <association property="student">
            <id property="id" column="student_id"/>
            <result property="username" column="student_username"/>
            <result property="name" column="student_name"/>
            <result property="sex" column="student_sex"/>
        </association>
    </resultMap>


    <!--获取课题列表信息 -->
    <select id="getSubjects" resultMap="Subjects">
        select tts.id as subject_id,tts.title,tts.detail,
                tt.id as teacher_id,tt.username as teacher_username,tt.name as teacher_name,tt.sex as teacher_sex,tt.professionRank as teacher_professionRank,tt.degree as teacher_degree,
                ts.id as student_id,ts.username as student_username,ts.name as student_name,ts.sex as student_sex
                from t_teacher_subject tts
          left join t_teacher tt on tt.id = tts.teacherId
          left join t_student_subject tss on tts.id = tss.subjectId
          left join t_student ts on ts.username = tss.username
          where tts.status = 1
    </select>

    <!--获取某个学生所报的课题的详情-->
    <select id="getSubject" resultMap="Subjects" parameterType="cn.duansanniu.entity.Student">
        select tts.id as subject_id,tts.title,tts.detail,
                tt.id as teacher_id,tt.username as teacher_username,tt.name as teacher_name,tt.sex as teacher_sex,tt.professionRank as teacher_professionRank,tt.degree as teacher_degree,
                ts.id as student_id,ts.username as student_username,ts.name as student_name,ts.sex as student_sex  from t_teacher_subject tts
          left join t_teacher tt on tt.id = tts.teacherId
          left join t_student_subject tss on tts.id = tss.subjectId
          left join t_student ts on ts.username = tss.username

        <choose>
            <when test="id!= null and id != 0">
                where ts.id = #{id}
            </when>
            <when test="username!=null and username.length > 0">
                where ts.username = #{username}
            </when>
        </choose>
    </select>

    <!--判断某个学生已经选择了题 或者 这个题已经被别人选了-->
    <select id="isSelect" parameterType="map" resultType="Integer">
        select ifnull(count(*),0) from t_student_subject where username = #{username} or subjectId = #{subjectId}
    </select>



    <!--选择课题-->
    <insert id="selectSubject" parameterType="map">
        insert into  t_student_subject(username,subjectId,status) values(#{username},#{subjectId},1)
    </insert>


    <!--判断用户的文件是否存在-->
    <select id="isStore" parameterType="map" resultType="Integer">
        select ifnull(count(*),0) from t_student_file
          where name = #{name} and url = #{url} and username = #{username}
    </select>

    <!--用于更新-->
    <update id="updatePath" parameterType="map" >
        update t_student_file set url = #{url},createTime = #{createTime}
        where username = #{username} and name = #{name}
    </update>

    <!--用于新增-->
    <insert id="storePath" parameterType="map">
        insert into t_student_file(username,name,url,createTime) values(
          #{username},#{name},#{url},#{createTime}
        )
    </insert>

    <select id="getReportPath" parameterType="map" resultType="String">
        select url from t_teacher_file where username = #{username} and name = #{name}
    </select>

    <select id="getStudentInfo" parameterType="String" resultType="cn.duansanniu.entity.Student">
        select username,name,sex,createTime from t_student where username = #{username}
    </select>

    <select id="getStudentFilePath" parameterType="map" resultType="String">
        select url from t_student_file where username = #{username} and name = #{name}
    </select>

    <select id="getFailExamineFile" parameterType="String" resultType="cn.duansanniu.entity.StudentUploadFile">
        select * from t_student_file where username = #{username} and status = 2;
    </select>

    <select id="getStudentStage" parameterType="String" resultType="Integer">
        select status from t_student_subject where username = #{username}
    </select>

    <select id="getOwnMissionBook" parameterType="cn.duansanniu.entity.TeacherUploadFile" resultType="cn.duansanniu.entity.TeacherUploadFile">
        select * from t_teacher_file where username = #{username} and name = #{name}
    </select>


</mapper>