<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.duansanniu.mapper.UserMapper">




    <select id="studentLogin" parameterType="cn.duansanniu.entity.User" resultType="map">
        select ts.id,ts.username,ts.name,ts.sex,ts.classid,ts.createTime,ts.status,ts.year,tc.name className,tp.name professionName,td.name departName,tp.departId  from t_student ts
          left join t_class  tc on tc.id = ts.classid
          left join t_profession tp on tp.id = tc.professionid
          left join t_depart td on td.id = tp.departId
          where ts.username = #{username} and ts.password = #{password}
    </select>

    <select id="teacherLogin" parameterType="cn.duansanniu.entity.User" resultType="map">
        select tt.id,tt.username,tt.name,tt.sex,tt.professionRank,tt.degree,tt.departId,tt.status,td.name departName from t_teacher tt
          left join t_depart td  on td.id = tt.departId
          where tt.username = #{username} and tt.password = #{password}
    </select>

    <select id="leaderLogin" parameterType="cn.duansanniu.entity.User" resultType="map">
        select id,username,name,departId from t_leader where username = #{username} and password = #{password}
    </select>

    <select id="getFilePath" parameterType="Integer" resultType="String">
        select url from t_common_file where id = #{id}
    </select>

    <select id="getUserFileList" resultType="cn.duansanniu.entity.CommonFile">
        select * from t_common_file ;
    </select>

    <update id="updateStudentPass" parameterType="map">
        update t_student set password = #{password} where username = #{username}
    </update>

    <update id="updateTeacherPass" parameterType="map">
        update t_teacher set password = #{password} where username = #{username}
    </update>

    <update id="updateLeaderPass" parameterType="map">
        update t_leader set password = #{password} where username = #{username}
    </update>

    <select id="judgeStudentPass" parameterType="map" resultType="Integer">
        select ifnull(count(*),0) from t_student where username = #{username} and password = #{oldPass}
    </select>

    <select id="judgeTeacherPass" parameterType="map" resultType="Integer">
        select ifnull(count(*),0) from t_teacher where username = #{username} and password = #{oldPass}
    </select>

    <select id="judgeLeaderPass" parameterType="map" resultType="Integer">
        select ifnull(count(*),0) from t_leader where username = #{username} and password = #{oldPass}
    </select>

    <select id="isEffectiveTask" parameterType="map" resultType="cn.duansanniu.entity.Task">
        select * from t_task where departId = #{departId}
          and unix_timestamp(endTime) &gt; unix_timestamp(#{time})
          and unix_timestamp(startTime) &lt; unix_timestamp(#{time})
    </select>

    <select id="getStudentDepartIdByUsername" parameterType="String" resultType="Integer">
        select ifnull(departId,0) from t_profession tp
          left join t_class tc on tc.professionid = tp.id
          left join t_student ts on ts.classid = tc.id
          where ts.username = #{username}
    </select>

    <select id="getTeacherDepartIdByUsername" parameterType="String" resultType="Integer">
        select ifnull(departId,0) from t_teacher where username = #{username}

    </select>
    
    <resultMap id="Menu" type="cn.duansanniu.entity.Menu">
        <id column="id" property="id"/>
        <result column="path" property="path"/>
        <result column="name" property="name"/>
        <collection property="menus" javaType="cn.duansanniu.entity.Menu">
            <id column="m_id" property="id"/>
            <result column="m_path" property="path"/>
            <result column="m_name" property="name"/>
        </collection>
    </resultMap>
    <select id="getMenu" parameterType="Integer" resultMap="Menu">
        select  tp.*,ts.id m_id,ts.path m_path,ts.name m_path from t_user_menu tum
        left join t_parentMenu tp on tp.id = tum.parentMenuid
        left join t_sonMenu ts on tp.id = ts.parentid
        where tum.userType = #{userType} and ts.userType = #{userType} group by tp.name

    </select>
    
    <select id="getParentMenu" parameterType="Integer" resultType="cn.duansanniu.entity.Menu">
        select * from t_parentMenu tp
          left join t_user_menu tsm on tsm.parentMenuid = tp.id
          where tsm.userType = #{userType}
    </select>

    <select id="getSonMenu" parameterType="Integer" resultType="cn.duansanniu.entity.Menu">
        select ts.name,ts.path,ts.parentid from t_sonMenu ts where ts.userType = #{userType}
    </select>
</mapper>